@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
body {
  font-family: 'Caveat', cursive;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header #burger-gif {
  margin-top: -50px;
  margin-bottom: -25px;
  height: 270px;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

main #lists {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  background-image: url(https://3.bp.blogspot.com/-owhOaTUdCEI/Viap9ZK-jVI/AAAAAAAAW50/DsuHMokFxbU/s1600/chalk-board-wallpaper-36479-images.jpg);
  background-size: cover;
  padding: 20px;
  border: 15px solid;
  border-image: repeating-linear-gradient(40deg, #392613, #734026, #47301f 8px) 60;
}

main #lists h2 {
  font-weight: 500;
}

main #lists #available-burgers, main #lists #eaten-burgers {
  flex: 1 0 auto;
  margin: 10px;
  min-width: 300px;
  min-height: 150px;
}

main #lists #available-burgers ol, main #lists #eaten-burgers ol {
  margin: 0;
  list-style-position: inside;
  padding-inline-start: 0;
}

main #lists #available-burgers li, main #lists #eaten-burgers li {
  font-size: 1.25em;
  padding: 8px 5px;
  margin: 3px 0;
  border-radius: 4px;
}

main #lists #available-burgers li {
  cursor: pointer;
  position: relative;
}

main #lists #available-burgers li:hover::after {
  display: block;
  position: absolute;
  content: 'Eat this burger';
  color: gray;
  left: 10px;
  top: -5px;
  font-size: .75em;
}

main form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

main form input {
  width: 350px;
  height: 35px;
  text-align: center;
  font-size: 1em;
}

main form button {
  margin-top: 10px;
  height: 35px;
  background-color: #8afabe;
  font-family: 'Caveat', cursive;
  font-size: 1.25em;
  font-weight: 500;
}
